
/* start navigation */
.navbar-brand img{
    height:40px ;
    padding-left: 15px;
}

.navUl{
    margin-left: auto;
}

.navUl a{
    color:black;
}
.navUl a:hover{
    color:black;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15px;
}
.navUl a:active{
    color: white;
    background-color: black;


 
}


/* end navigation */


/* BANNER AREA START */
.bannerContainer{
    margin-bottom: 50px;
    margin-top: 50px;


    
}
.bannerContainer h3{
    display: inline;
    vertical-align: top ;
    
    
}
.bannerContainer h1{
    font-size: 37pt;
}
.nameBox{
  height: 200px;
  margin-top: 20%;
  
}
.innerNameBox{
    margin-left: 20%;
    width: 280px;
    text-align: left;
}
.lineDiv{
    border:1px solid black;
    background-color: black;
    width: 200px;
    height: 2px;
    display: inline-block
}
.bammerImgBox{
    text-align: center;
}
.bannerContainer img{
    
    width: 380px;
}
/* BANNER AREA END */


/* ABOUT AREA START */
.aboutImgBox{
    text-align: center;
    

}
.aboutImg{
    margin: 0;
    margin-top: 10%;
    width: 80%;
    
}
.introduceDiv{
    width: 150px
}
.aboutDetailsDiv{
    margin: 10%;
    width: 80%;
}
/* ABOUT AREA END  */


/* SKILL AREA START */
#skill{
    margin-top: 50px;
}

.skillHeading{
    text-align:center;
     margin:25px;
}
.skillPara{
    text-align:center
}
.card{
    width: 250px;
    margin-bottom: 25px;
    box-shadow:3px;
    border: none;   
}
.card img{
    height: 120px;
    width: auto;
    margin-top: 10px;
}
.card:hover{
    box-shadow: 5px 5px 25px rgb(116, 115, 115);
}
 /* SKILL AREA END  */


 /* CONTACT AREA START */
 .contactContainer{
    height: 200px;; text-align:center; 
    padding: 20px;
    margin:100px 0px;
   
 }
 .contactContainer h2{
   margin:25px;
 }

 .contactContainer a{
    text-decoration:none;
    margin: 15px;
    text-align: center;

 }
 .contact{
    margin-top: 25px;
    margin-bottom: 25px;
 }
 
.contactLogo{
    width:30px;
    
}
/* CONTACT AREA END */

/* SCROLL UP BUTTON START */

#scrol{
    
    position:fixed;
    right:25px;bottom:25px;
    border-width:5px;
    height:50px;width:50px;
    border-radius:50px;
    font-size:25pt;
    opacity:0.8;
    color: black;
    
}
#scrol a{
    text-decoration:none;
    color: black;
    font-weight: 800;
    opacity:0.5;
}
/* SCROLL UP BUTTON END */